<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 10% auto;
            text-align: center;
        }

        img {
            width: 200px;
            height: 200px;
            border: 2px solid #000;
            border-radius: 50%;

        }
        
        button {
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        button:hover {background-color: #3e8e41}

        button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    </style>
</head>
<body>

    <img src=<%= image %> />

    <h1>Vui lòng chọn một tấm ảnh<br> trong thư mục public/image</h1>
    <form action="/uploadimage" method="POST">
        <input type="file" name="image"/><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>